@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Roboto:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #4A0C18;
  background-image:
    linear-gradient(rgba(232,200,74,0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(232,200,74,0.15) 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: 'Barlow Condensed', sans-serif;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(to bottom, #4A0C18, transparent);
  pointer-events: none;
  z-index: 10;
}

body::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, #4A0C18, transparent);
  pointer-events: none;
  z-index: 10;
}

header {
  text-align: center;
  padding: 48px 24px 32px;
  position: relative;
  z-index: 20;
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 20px 60px;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

.titlu-principal {
  font-size: 2.7rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: #E8C84A;
  line-height: 1;
  white-space: nowrap;
}

.linie {
  width: 100%;
  height: 1px;
  background-color: #E8C84A;
  opacity: 0.2;
  margin: 12px 0;
}

.subtitlu {
  font-size: 0.9rem;
  letter-spacing: 0.3em;
  color: #E8C84A;
  opacity: 0.8;
}

.card {
  background-color: #6B1226;
  border-radius: 16px;
  padding: 28px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.15s ease;
  overflow: hidden;
  height: 120px;
}

.card-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-left: 15px;
  overflow: hidden;
}

.card-emoji {
  font-size: 3rem;
  flex-shrink: 0;
  text-align: center;
}

.card span:first-child {
  font-weight: 700;
  font-size: 2.2rem;
  color: #E8C84A;
  white-space: nowrap;
  overflow: hidden;
}

.card span:last-child {
  font-weight: 900;
  font-size: 2.2rem;
  color: #E8C84A;
  letter-spacing: 0.03em;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
}


a {
    text-decoration: none;
    color: inherit;
}

footer{
    text-align: center;
    padding: 0 24px 48px;
    position: relative;
    z-index: 20;
}

footer p{
    font-size: 1rem;
    letter-spacing: 0.2em;
    color:#E8C84A;
    opacity: 0.7;
}
